<div class="desktop">
    <div class="imageBlue">
        <img src="/images/home.png" class="centeredImage" alt="Imagen centrada">
        <div class="ellipseOverlay">
            <img src="/images/thunderbolt1.png" class="thunder" alt="thunder">
        </div>
    </div>
    <div class="content">
        <img src="/images/samla-logo.png" class="samlaLogo" alt="samlaLogo">
        <label class="registroLabel">Registro</label>
        <div class="frame">
            <form class="registroForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="formGroup">
                    <label class="formGrouplabel" for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ingresa nombres" formControlName="nombre">
                    <div class="layout-helptext"
                        *ngIf="registerForm.get('nombre')?.errors?.['required'] && registerForm.get('nombre')?.touched">
                        <p class="helptext">Debe escribir el nombre</p>
                    </div>
                </div>
                <div class="formGroup">
                    <label class="formGrouplabel" for="apellido">Apellidos</label>
                    <input type="text" id="apellido" name="apellido" placeholder="Ingresa apellidos"
                        formControlName="apellido">
                    <div class="layout-helptext"
                        *ngIf="registerForm.get('apellido')?.errors?.['required'] && registerForm.get('apellido')?.touched">
                        <p class="helptext">Debe escribir el apellido</p>
                    </div>
                </div>
                <div class="formGroup">
                    <label class="formGrouplabel" for="email">Correo</label>
                    <input type="text" id="email" name="email" placeholder="ejemplo@gmail.com" formControlName="email">
                    <div class="layout-helptext"
                        *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched">
                        <p class="helptext">Debe escribir el Correo Electrónico</p>
                    </div>
                    <div class="layout-helptext"
                        *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched">
                        <p class="helptext">El correo electrónico no tiene un formato válido</p>
                    </div>
                </div>
                <div class="formGroup">
                    <label class="formGrouplabel" for="telefono">Número de teléfono</label>
                    <input type="text" id="telefono" name="telefono" placeholder="(+503)" formControlName="telefono">
                    <div class="layout-helptext"
                        *ngIf="registerForm.get('telefono')?.errors?.['required'] && registerForm.get('telefono')?.touched">
                        <p class="helptext">Debe escribir el Número de teléfono</p>
                    </div>
                </div>
                <div class="formGroup">
                    <label class="formGrouplabel" for="tipoIdentificacion">Tipo de identificación</label>
                    <select id="tipoIdentificacion" name="tipoIdentificacion" formControlName="tipoIdentificacion">
                        <option value="">Seleccionar</option>
                        <option value="dni">DNI</option>
                        <option value="pasaporte">Pasaporte</option>
                        <option value="cedula">Cédula</option>
                    </select>
                    <div class="layout-helptext"
                        *ngIf="registerForm.get('tipoIdentificacion')?.errors?.['required'] && registerForm.get('tipoIdentificacion')?.touched">
                        <p class="helptext">Debe seleccionar el tipo de identificacion</p>
                    </div>
                </div>
                <div class="formGroup">
                    <label class="formGrouplabel" for="numeroIdentificacion">Numero de Identificacion</label>
                    <input type="text" id="numeroIdentificacion" name="numeroIdentificacion" placeholder="0000-0" formControlName="numeroIdentificacion">
                    <div class="layout-helptext"
                        *ngIf="registerForm.get('numeroIdentificacion')?.errors?.['required'] && registerForm.get('numeroIdentificacion')?.touched">
                        <p class="helptext">Debe escribir el numero de identificacion</p>
                    </div>
                    <div class="layout-helptext"
                        *ngIf="registerForm.get('numeroIdentificacion')?.errors?.['pattern'] && registerForm.get('numeroIdentificacion')?.touched">
                        <p class="helptext">Formato inválido. Use el formato 0000-0</p>
                    </div>
                </div>
                <button type="submit" class="submitButton">Continuar</button>
                <!-- Error de servidor -->
                <div *ngIf="serverOk" class="server-ok">
                    <p class="ok-message">{{ serverOk }}</p>
                </div>
                <!-- Error de servidor -->
                <div *ngIf="serverError" class="server-error">
                    <p class="error-message">{{ serverError }}</p>
                </div>
                <div class="registro-redirect">
                    <p>Ir a
                        <a [routerLink]="['/']">Iniciar sesion</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>